.signupForm{
    .profile{
        .propic{
            display: flex;
            flex-direction: row;
            gap: 20px;
            align-items: center;
            color: aliceblue;
            img{
                width:50px;
            }
        }
    }
}

.welcomenav{
    background-color: #61CE70;
}

body{
    font-family: 'Cherry Swash', cursive;
}


.welcomepage{
    div{
        h1{
            font-size: 45px;
            font-weight: 600;
            text-align: center;
        }
    }
}

.welcomepage{
    div{
        .para1,.blogLink{
            font-family: 'PT Sans', sans-serif;
            font-weight: 700;
        }
    }
}

.para2{
    font-size: medium;
    font-weight: 400;
    font-family: 'PT Sans', sans-serif;
}

.blogpage{
    font-family: 'PT Sans', sans-serif;
    color: #4d9642;
    padding: 10px;
    div{
        div{
            p{
                color: black;
            }
            .inline-flex{
                background-color: #4d9642;
            }
        }
    }
}

.hiring{
    background-color: #84ad48;
    width: 100%;
    font-family: 'PT Sans', sans-serif;
    h3{
        font-weight: 600;
    }
    p{
        font-weight: 400;
    }
}

.py-16{
    font-family: 'PT Sans', sans-serif;
    h2{
        font-family: 'Cherry Swash', cursive;
    }
}

.city{
    background-color: #4d9642;
}